name: Attribution Report

on: workflow_dispatch
 
jobs:
    build:
        name: Attribution Report
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up JDK 17
              uses: actions/setup-java@v3
              with:
                  distribution: 'temurin'
                  java-version: 17
                  architecture: x64

            - name: Cache Maven packages
              uses: actions/cache@v4.3.0
              with:
                  path: ~/.m2
                  key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
                  restore-keys: ${{ runner.os }}-m2

            - name: Build with Maven
              run: |
                mvn --no-transfer-progress install -DskipTests

            - name: Mend CLI Scan 
              env:
                MEND_EMAIL: ${{secrets.MEND_EMAIL}}
                MEND_USER_KEY: ${{secrets.MEND_USER_KEY}}
                MEND_URL: https://saas.mend.io
              run: |
                echo Downloading Mend CLI
                curl -LJO https://downloads.mend.io/production/unified/latest/linux_amd64/mend && chmod +x mend
                echo "Start Mend scan"
                ./mend deps -u -s *//ScriptTests//GH_${{github.event.repository.name}}_${{github.ref_name}} --export-results dep-results.txt
                export MEND_PROJECTTOKEN=$(grep -oP "(?<=token=)[^&]+" dep-results.txt)
                echo "Project Token: $MEND_PROJECTTOKEN"
                ### DO NOT USE IN PRODUCTION: URL MAY CHANGE AT ANY TIME
                curl https://raw.githubusercontent.com/mend-toolkit/mend-examples/main/Scripts/Mend%20SCA/generate-async-report.sh -o generate-async-report.sh
                chmod +x generate-async-report.sh

                export MEND_URL=$MEND_URL/agent
                export MEND_REPORTSCOPE=Project
                export MEND_ORG_UUID=df2e8f58-5049-40dc-9780-7f7bfd48621c
                export MEND_REPORTTYPE=AttributionReport
                export MEND_REPORTFORMAT=HTML
                ./generate-async-report.sh

                ls mendreports



           