name: Attribution Report

on: workflow_dispatch
 
jobs:
    build:
        name: Attribution Report
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up JDK 17
              uses: actions/setup-java@v3
              with:
                  distribution: 'temurin'
                  java-version: 17
                  architecture: x64

            - name: Cache Maven packages
              uses: actions/cache@v3.3.2
              with:
                  path: ~/.m2
                  key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
                  restore-keys: ${{ runner.os }}-m2

            - name: Build with Maven
              run: |
                mvn --no-transfer-progress install -DskipTests

            - name: Mend CLI Scan 
              env:
                MEND_EMAIL: ${{secrets.MEND_EMAIL}}
                MEND_USER_KEY: ${{secrets.MEND_USER_KEY}}
                MEND_URL: https://saas.mend.io
              run: |
                echo Downloading Mend CLI
                curl -LJO https://downloads.mend.io/production/unified/latest/linux_amd64/mend && chmod +x mend
                echo "Start Mend scan"
                ./mend deps -s *//ScriptTests//GH_${{github.event.repository.name}}_${{github.ref_name}} --export-results dep-results.txt
                export WS_PROJECTTOKEN=$(grep -oP "(?<=token=)[^&]+" dep-results.txt)
                echo "Project Token: $WS_PROJECTTOKEN"


           